<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">LOGO</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <a *ngIf="!isAuth" routerLink="/signup">Signup</a>
            <a *ngIf="!isAuth" routerLink="/login">Login</a>
            <a *ngIf="isAuth" routerLink="/training">Training</a>
            <a *ngIf="isAuth" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </ul>
    </div>
</mat-toolbar>